$Sans-Pro: 'Source Sans Pro', sans-serif;
$Hind: 'Hind', sans-serif;
$Fresca: 'Fresca', sans-serif;
$background-url: '../img/m-h-day.jpg';
$main-color: #ffffff;
$sub-color: #282b39;
$underline-color: #0ca1c8;
$underline-color-second: #0ca1c8;
$buttons-color: #699a00;
$footer-card-color: #1b1e2a;
$gradient: ('from':rgb(103, 152, 1), 'to':rgb(39, 88, 222));
$ready-color: #1b1e2a;
