$Sans-Pro: 'Source Sans Pro', sans-serif;
$Hind: 'Hind', sans-serif;
$Fresca: 'Fresca', sans-serif;
$background-url: '../img/m-h-night.jpg';
$main-color: #1b1e2a;
$sub-color: #ffffff;
$underline-color: #ff4d30;
$underline-color-second: #ff4d30;
$buttons-color: #e4ae00;
$footer-card-color: #383d4f;
$gradient: ('from':rgb(226, 170, 0), 'to':rgb(147, 40, 81));
$ready-color: #ffffff;
